@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
/*         background: transparent !important; */
        color: #000 !important; /* black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        /*box-shadow: none !important;*/
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* 
    Rememer: this document is a print first project.
    Don't use screen units like px. em / rem are maybe not good too.
    vh / vw for paged media is currently in development by w3c, so avoid that too.
*/

/* General */
/* ===================== */

* {
    box-sizing: border-box;
}

.pre-line {
    white-space: pre-line;
}

h1:first-child,
h2:first-child,
h3:first-child {
    margin-top: 0;
}


/* Page Layout */
/* ===================== */
:root {
    --page-width: 21cm;
    --page-height: 14.8cm;
}

/* dev */
body.dev div,
body.dev div,
body.dev p {
    box-shadow: inset 0 0 2px rgba(255, 0, 255, 0.5);
}
body.dev .page {

}

.page {    
    width: var(--page-width);
    height: calc(var(--page-height) - 2mm);
    /*     max-width: var(--page-width);
    max-height: var(--page-height); */
    padding: 1cm;
    border: none;
    page-break-after: always;
    overflow: auto;
}

.page.book-cover .image {
    width: 100%;
}

svg.cover path { /*embedded svg cannot have selectors before svg tag*/
    
}

.page.left {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.page.lyrics {
    column-count: 3;
    column-fill: auto;
}

@page {
    size: 19cm 14.8cm;
    size: a5 landscape;
/*     margin: 1cm; */
}
@page :left {
    /* X */
}
@page:right{
    /* X */
}

@media print {
    body.dev .page {
        box-shadow: 0 0 1px 1px #047500 inset
    }
    
    .page.left {
        padding-right: 2cm;
    }

    .page.right {
        padding-left: 2cm;
    }
}

@media screen {
    .page {
        margin: 1cm;
    }
}


/* Styling */
/* ===================== */

p {
    margin-top: 0;
    margin-bottom: 0.7em
}

.lyrics p {
    font-size: 9pt;
}

.cover {
    grid-column: 1 / 2;
}

.cover img {
    max-width: 100%;
    max-height: 100%;
    /* border: 11px solid #b9b9b9; */
    box-shadow: 0 0 2px #9a9a9a;
}

.cover h1 {
    font-size: 1rem;
    margin: 0.1em 0 0;
}

.links {
    padding-left: 1em;
    grid-column-start: 2;
}

.link-box .qr {
    background-color: #ccc;
    width: 100%;
}

.link-box a:after {
    content: attr(href);
    word-break: break-all;
    font-size: 7pt;
}

.link-box:before {
    content: '';
    display: block;
    height: 1em;
    background-size:contain;
    background-repeat: no-repeat;
}
.link-box.bandcamp:before {
    background-image: url(content/bandcamp-logo.jpeg);
}
.link-box.youtube:before {
    background-image: url(content/YouTube-logo-full_color_light.svg);
}

.crucified-barbara .lyrics,
.jbo .lyrics,
.the-datsuns .lyrics {
    column-count: 2;
}

.the-datsuns #axethrower {
    margin-top: 5em;
}